// ------------------------------------
// ADMIN PREVIEW FRAME
// ------------------------------------

body.fc-admin-preview--hide-header-footer :is( header, footer, nav, [role="banner"], [role="contentinfo"], [role="navigation"] ):not( :is( main, article, .fc-content, .woocommerce ) * ) {
	display: none !important; // Needed to override theme styles
}



body.fc-admin-preview #place_order,
body.fc-admin-preview .fc-place-order-button,
body.fc-admin-preview .fc-place-order__custom-buttons,
body.fc-admin-preview .fc-express-checkout,
body.fc-admin-preview .add_to_cart_button,
body.fc-admin-preview .single_add_to_cart_button,
body.fc-admin-preview .wc-block-components-product-button__button {
	cursor: not-allowed;
}

body.fc-admin-preview .fc-place-order__custom-buttons *,
body.fc-admin-preview .fc-express-checkout * {
	pointer-events: none;
}
